.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html { 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box; 
}

*, *::before, *::after { 
  -webkit-box-sizing: inherit; 
          box-sizing: inherit; 
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: transparent;
}

.overlay--show {
  display: block;
}

.button {
  display: block;
  text-align: center;
  padding: 13px 7px;
  
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button p {
  margin: 0;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
}

.button-orange {
  background-color: #efc84a;
}

.button-orange:hover,
.button-orange:focus {
  background-color: #eab534;
}

.button-orange:active {
  background-color: #e5a722;
}

.button-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-social:hover,
.button-social:focus {
  background-color: #e74246;
}

.button-social:active {
  background-color: #d7373b;
}

.button-social:active img {
  opacity: 0.3;
}

.main-header {
  line-height: 30px;
  padding-top: 49px;

  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 203px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 0;
  text-transform: uppercase;
}

.main-navigation-current-page {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-navigation-cart {
  position: relative;
  margin-left: auto;
  margin-bottom: 4px;
  padding-bottom: 4px;
  padding-left: 41px;
}

.main-navigation-cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  left: 0;
  top: 6px;
}

.main-navigation-cart span {
  color: #000000;
}

.main-navigation-cart:hover span,
.main-navigation-cart:focus span {
  color: #fb565a;
}

.main-navigation-cart:active span {
  color: #000000;
  opacity: 0.3;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 640px;
  
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.site-navigation li {
  padding-bottom: 3px;
  margin-right: 47px;
}

.slider {
  position: relative;
  margin-bottom: 80px;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 10;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 17px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 99.2% 0;
}

.slider-item:nth-child(2) {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 99.8% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100.2% -1px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -2px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
}

.slider .button {
  width: 240px;
  padding: 13px 0;
}

.functions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 40px;
}

.functions-item {
  width: 300px;
  margin-right: 100px;
}

.functions-item:nth-child(3n) {
  margin-right: 0;
}

.functions-item h3 {
  margin: 0;
  padding: 0;
  
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.functions-item-content {
  width: 260px;
  margin-top: 18px;
  margin-bottom: 32px;
}

.functions-item .button {
  width: 160px;
  min-height: 50px;
  padding-bottom: 5px;
  margin-bottom: 80px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 49px;
}

.features-item:first-child {
  width: 660px;
  padding-top: 34px;
}

.features-item:last-child {
  width: 360px;
}

.features-item:first-child .features-big {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.features-item:first-child .features-normal {
  margin-bottom: 39px;
}

.features-item:last-child img {
  margin-bottom: 13px;
}

.features-item h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-item:first-child h3 {
  margin-bottom: 24px;
  text-align: left;
}

.features-item:last-child h3 {
  text-align: center;
  margin-bottom: 13px;
}

.features-works {
  margin: 0;
  padding: 0;
  margin-left: 36px;
  list-style: none;
}

.features-works li {
  position: relative;
  margin-bottom: 24px;
}

.features-works li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: -35px;
  background-color: #fb565a;
}

.features-present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-present li {
  width: 119px;
}

.features-present p:nth-child(1) {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  margin-bottom: 37px;
}

.features-present p:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
}

.features-present span {
  font-size: smaller;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  min-height: 182px;
  margin-bottom: 80px;
  padding-top: 7px;
}

.partners-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
}

.partners-item:nth-child(4n) {
  margin-right: 0;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item:hover img,
.partners-item:focus img {
  opacity: 1;
}

.partners-item:active img {
  opacity: 0.1;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-map {
  position: relative;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 416px;
  width: 100%;
  margin: 0 auto;
}

.footer-map .container {
  position: relative;
}

.footer-map img {
  position: absolute;
  left: 56%;
  bottom: 137px;
}

.footer-map iframe {
  position: relative;
  width: 100%;
  height: 416px;
  border: none;
  
  z-index: 1;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 1.7%;
  top: 0;
  -webkit-transform: translateY(-123%);
      -ms-transform: translateY(-123%);
          transform: translateY(-123%);
  width: 319px;
  min-height: 308px;
  margin: 10px 0;
  background-color: #ffffff;
  z-index: 2;
}

.footer-contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  margin: 49px auto 45px;
  font-size: 16px;
  line-height: 18px;
}

.footer-contacts-container h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
}

.footer-contacts-container p {
  margin-top: 0;
  margin-bottom: 18px;
}

.footer-contacts-container .button {
  width: 219px;
  min-height: 50px;
  margin-top: 19px;
  padding: 16px 14px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 217px;
}

.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 259px;
  margin: 0;
  padding: 0;
  margin-right: 140px;
}

.footer-social-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 560px;
}

.footer-social-slogan span:first-child {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 0.005em;
}

.footer-social-slogan span:last-child {
  font-size: 16px;
  line-height: 22px;
}

.modal-write-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 960px;
  height: 590px;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-100%) translateY(-30%) scale(0);
      -ms-transform: translateX(-100%) translateY(-30%) scale(0);
          transform: translateX(-100%) translateY(-30%) scale(0);
  -webkit-box-shadow: 0 15px 30px #646565;
          box-shadow: 0 15px 30px #646565;
  background-color: #ffffff;
  
  font-size: 16px;
  line-height: 18px;
  
  z-index: 100;
  
  -webkit-transition-duration: 0.2s;
  
       -o-transition-duration: 0.2s;
  
          transition-duration: 0.2s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.modal--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
      -ms-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
}

.modal-write-us-close {
  position: absolute;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: 0;
  background: none;
  background-image: url("../img/close-cross.svg");
  top: 78px;
  right: 90px;
  opacity: 0.3;
}

.modal-write-us-close:hover,
.modal-write-us-close:focus {
  opacity: 1;
}

.modal-write-us-close:active {
  opacity: 0.1;
}

.modal-write-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 760px;
  margin: 0 auto;
  padding-top: 67px;
}

.modal-write-us-container .message {
  width: 760px;
  min-height: 145px;
  margin-bottom: 47px;
}

.modal-write-us-container textarea {
  width: inherit;
  min-height: 118px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 12px;
  border: 2px solid #d7dcde;
}

.modal-write-us-container textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-write-us-container textarea:focus {
  border: 2px solid #000000;
}

.modal-write-us-container h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 41px;
}

.modal-write-us-container span {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: inherit;
}

.modal-write-us-form .button {
  width: 260px;
  min-height: 50px;
  margin-bottom: 0px;
}

.modal-write-us-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: inherit;
  width: inherit;
}

.modal-write-us-small-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px;
}

.modal-write-us-small-container .fullname,
.modal-write-us-small-container .email {
  width: 360px;
  min-height: 77px;
}

.modal-write-us-small-container label {
  font: inherit;
  width: inherit;
}

.modal-write-us-small-container input {
  font: inherit;
  width: inherit;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 0 12px;
  border: 2px solid #d7dcde;
}

.modal-write-us-small-container input:hover {
  border: 2px solid #b4b9bb;
}

.modal-write-us-small-container input:focus {
  border: 2px solid #000000;
}

.modal-write-us-small-container input:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.page-intro {
  min-height: 241px;
  background-color: #eeeeee;
  margin: 0;
}

.page-intro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-intro h1 {
  margin-bottom: 0;
  margin-top: 78px;
  
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters {
  width: 260px;
}

.filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filters ul {
  list-style: none;
}

.filters button {
  width: 260px;
  min-height: 50px;
  background-color: #eeeeee;

  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.filters button:hover,
.filters button:focus {
  background-color: #dfdfdf;
}

.filters button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.filter-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 58px;
}

.filter-one legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-price-container {
  margin-bottom: 54px;
}

.filter-price {
  margin: 0;
  padding: 0;
  
  border: none;
}

.filter-price legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.filter-price-range {
  width: 260px;
  margin-top: 51px;
}

.filter-price-range-controls {
  position: relative;
  
  height: 80px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #eeeeee;
  
  border-radius: 5px;
}

.filter-price-range-controls .filter-price-scale {
  height: 2px;

  background: #d7dcde;
}

.filter-price-range-controls .filter-price-bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.filter-price-range-controls .filter-price-toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 1px;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.filter-price-range-controls .filter-price-toggle-min {
  left: 20px;
}

.filter-price-range-controls .filter-price-toggle-max {
  left: 162px;
}

.filter-price-price-controls {
  font-size: 0;
}

.filter-price-price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-price-price-controls input {
  width: 80px;
  padding: 10px 10px;

  margin-left: 8px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #eeeeee;
}

.filter-price-max-price {
  text-align: right;
}

.filter-grid-container {
  margin-bottom: 25px;
}

.filter-options-container {
  margin-bottom: 30px;
}

.filter-grid,
.filter-options {
  font-size: 16px;
  line-height: 20px;
}

.filter-grid-list,
.filter-options-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-grid legend,
.filter-options legend {
  margin-bottom: 16px;
}

.filter-grid-list li,
.filter-options-list li {
  padding-left: 36px;
  margin-bottom: 20px;
}

.filter-grid-list label,
.filter-options-list label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::before {
  opacity: 0.1;
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
  color: rgba(0, 0, 0, 0.3);
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 133px;
}

.sorting-header {
  width: 360px;
  padding-top: 58px;
}

.sorting-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 56px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 271px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.sorting-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 41px;
  padding-top: 5px;
  padding-right: 1px;
}

.sorting-header h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.sorting a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
  opacity: 0.3;
}

.sorting a:hover,
.sorting a:focus {
  opacity: 0.6;
}

.sorting .selected,
.sorting a:active {
  margin: 0;
  opacity: 1;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}


.catalog-item-image {
  width: 360px;
  height: 616px;
}

.catalog-item-image::before {
  display: block;
  content: " ";
  height: 40px;
  width: 360px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: url("../img/browser.svg");
  background-color: #ffffff;
  opacity: 0.091;
}

.catalog-item-image:hover::before,
.catalog-item-image:focus::before {
  opacity: 1;
}

.catalog-item-popup {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 230px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
}

.catalog-item:hover .catalog-item-popup,
.catalog-item:focus .catalog-item-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item-popup-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}

.catalog-item-popup h3 {
  margin: 0;
  margin-bottom: 15px;
  
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item-popup h3:hover,
.catalog-item-popup h3:focus {
  color: #fb565a;
}

.catalog-item-popup h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-popup p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 18px;
}

.catalog-item-popup .button {
  width: 200px;
  min-height: 50px;
  margin: 0 auto;
  margin-bottom: 41px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  min-height: 50px;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  border-radius: 3px;
  background-color: #eeeeee;
}

.pagination-item:last-child a {
  width: 260px;
}

.pagination-item-current a {
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.pagination-item:hover a,
.pagination-item:focus a {
  border: none;
  background-color: #dfdfdf;
}

.pagination-item:active a {
  border: none;
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.alert-dialog {
  width: 300px;
  text-align: center;
  padding-top: 1%;
  border-radius: 5px;
  border: 2px solid red;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.alert-dialog-close {
  width: 50%;
  margin: 10% auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}