/* CSS Document */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
}


.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
}

.button-orange {
  background-color: #efc84a;
}

.button-orange:hover {
  background-color: #eab534;
}

.button-orange:active {
  background-color: #e5a722;
}

.button-social {
  display: flex;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button-social:hover {
  background-color: #e74246;
}

.button-social:active {
  background-color: #d7373b;
}

.main-header {
  line-height: 30px;
  padding-top: 50px;

  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  
  text-transform: uppercase;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
}

.main-navigation a:focus {
  color: #000000;
  border-bottom: 1px solid #fb565a;
}

.main-navigation-cart img {
  margin-right: 25px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  
  list-style: none;
}

.slider {
  min-height: 430px;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.functions-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 40px;
}

.functions-item {
  width: 300px;
  margin-right: 100px;
}

.functions-item:last-child {
  margin-right: 0;
}

.functions-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.functions-item-content {
  width: 260px;
  margin-bottom: 35px;
}

.functions-item .button {
  display: flex;
  width: 160px;
  height: 50px;
  justify-content: center;
  margin-bottom: 80px;
}

.button p {
  align-self: center;
}

.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 76px;
}

.features-item:first-child {
  width: 660px;
}

.features-item:last-child {
  width: 360px;
}

.features-big {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.features-item h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-item:first-child h3 {
  text-align: left;
}

.features-item:last-child h3 {
  text-align: center;
}

.features-works {
  margin: 0;
  padding: 0;
  margin-left: 36px;
}

.features-present {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-present p:nth-child(1) {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.features-present p:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
}

.features-present span {
  font-size: smaller;
}

.partners-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  min-height: 180px;
  align-items: center;
  margin-bottom: 80px;
}

.partners-item {
  margin: 0 auto;
}

.main-footer {
  display: flex;
  flex-direction: column;
}

.footer-map {
  background-image: url("../img/map+marker.jpg");
  background-position: -90px -200px;
  background-repeat: no-repeat;
  height: 416px;
}

.footer-map .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

.footer-contacts {
  display: flex;
  background-color: #ffffff;
  width: 320px;
  height: 310px;
}

.footer-contacts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 210px;
  margin: auto auto;
  font-size: 16px;
  line-height: 18px;
}

.footer-contacts-container h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0px;
}

.footer-contacts-container p {
  margin-top: 0;
  margin-bottom: 0px;
}

.footer-contacts-container .button {
  display: flex;
  width: 220px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-social {
  display: flex;
  min-height: 216px;
}

.footer-social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  list-style: none;
  width: 260px;
  margin-right: 140px;
}

.footer-social-slogan {
  width: 560px;
}

.footer-social-slogan h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-social-slogan p {
  font-size: 16px;
  line-height: 22px;
}

.modal-write-us {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  width: 960px;
  height: 590px;
  box-shadow: 0 15px 30px #646565;
}

.modal-write-us span {
  color: #fecccd;
}

.modal-write-us span:hover {
  background-color: #fb565a;
}

.modal-write-us span:active {
  background-color: #ffeeee;
}

.modal-write-us-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 760px;
  height: 440px;
  margin: auto;
}

.modal-write-us-container .message {
  width: 760px;
  height: 146px;
}

.modal-write-us-container textarea {
  width: inherit;
  height: 118px;
  box-sizing: border-box;
  border-radius: 3px;
}

.modal-write-us-container h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-top: 0;
}

.modal-write-us-container p {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-write-us-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  width: inherit;
}

.modal-write-us-form .button {
  display: flex;
  width: 260px;
  height: 50px;
  justify-content: center;
  margin-bottom: 0px;
}

.modal-write-us-form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  width: inherit;
}

.modal-write-us-small-container {
  display: flex;
  justify-content: space-between;
}

.modal-write-us-small-container .fullname,
.modal-write-us-small-container .email {
  width: 360px;
  height: 75px;
}

.modal-write-us-small-container label {
  font: inherit;
  width: inherit;
}

.modal-write-us-small-container input {
  font: inherit;
  width: inherit;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
}

.page-intro {
  min-height: 200px;
  background-color: #eeeeee;
  margin: 0;
}

.page-intro .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-intro h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.filters fieldset {
  border-width: 0px;
  margin: 0;
  padding: 0;
}

.filters ul {
  list-style: none;
}

.filters button {
  display: flex;
  width: 260px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  border-radius: 3px;
  background-color: #eeeeee;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.filter-one legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-price {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-price legend {
  width: inherit;
  display: flex;
  min-height: 133px;
  align-items: center;
}

.filter-price input {
  font: inherit;
}

.slider-nativeMultiple {
  width: 260px;
  height: 80px;
  background-color: #eeeeee;
}

.filter-price-small-comtainer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 38px;
  margin-top: 14px;
}

.filter-price-small-comtainer label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 112px;
  height: inherit;
}

.filter-price-small-comtainer input {
  width: 80px;
  height: inherit;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #eeeeee;
  border: 0;
  text-align: center;
}

.filter-grid-container {
  margin-top: 60px;
}

.filter-options-container {
  margin-top: 45px;
}

.filter-grid,
.filter-options {
  font-size: 16px;
  line-height: 20px;
}

.filter-grid-list,
.filter-options-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-grid legend {
  
}

.sorting {
  display: flex;
  justify-content: space-between;
  min-height: 133px;
  align-items: center;
}

.sorting-header {
  width: 360px;
}

.sorting-body {
  display: flex;
  width: 360px;
  justify-content: space-between;
}

.sorting-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 280px;
  justify-content: space-between;
}

.sorting-header h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting a {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting span {
  font-size: 0px;
  line-height: 18px;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 360px;
  height: 616px;
}

.catalog-item-image::before {
  display: block;
  content: " ";
  height: 40px;
  width: 360px;
  background-image: url("../img/browser.svg");
  background-color: #e9e9e9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.catalog-item-popup {
  min-height: 230px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
}

.catalog-item-popup-container {
  flex-direction: column;
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.catalog-item-popup h3 {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}

.catalog-item-popup h3:hover {
  color: #fb565a;
}

.catalog-item-popup h3:active {
  color: #000000;
}

.catalog-item-popup .button {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.pagination-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.pagination-item {
  border: 3px solid #eeeeee;
  margin-right: 10px;
  border-radius: 3px;
  background-color: #eeeeee;
}

.pagination-item:last-child a {
  width: 260px;
}

.pagination-item:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}

.pagination-item-current {
  background-color: #ffffff;
  border-color: #dbdbdb;
}

/*body > * {
  background-color: rgba(255, 0, 0, 0.3);
}
*/
/*body > * > * {
  background-color: rgba(255, 255, 0, 0.3);
}*/

/*body > * > * > * {
  background-color: rgba(255, 0, 255, 0.3);
}*/

