/* CSS Document */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html { 
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
}


.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
}

.button-orange {
  background-color: #efc84a;
}

.button-orange:hover {
  background-color: #eab534;
}

.button-orange:active {
  background-color: #e5a722;
}

.button-social {
  display: flex;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button-social:hover {
  background-color: #e74246;
}

.button-social:active {
  background-color: #d7373b;
}

.main-header {
  line-height: 30px;
  padding-top: 50px;

  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 203px;
}

.main-navigation {
  display: flex;
  align-items: flex-end;
  margin-top: 50px;
  
  text-transform: uppercase;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
}

.main-navigation-current-page {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}

.main-navigation-cart {
  margin-left: auto;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.main-navigation-cart img {
  margin-right: 20px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.site-navigation li {
  padding-bottom: 3px;
  margin-right: 47px;
}

.slider {
  position: relative;
  margin-bottom: 80px;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 17px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 99.2% 0;
}

.slider-item:nth-child(2) {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 99.8% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100.2% -1px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -2px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
}

.slider .button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider .button:hover,
.slider .button:focus {
  background-color: #e74246;
}

.slider .button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.functions-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 40px;
}

.functions-item {
  width: 300px;
  margin-right: 100px;
}

.functions-item:last-child {
  margin-right: 0;
}

.functions-item h3 {
  margin: 0;
  padding: 0;
  
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.functions-item-content {
  width: 260px;
  margin-top: 18px;
  margin-bottom: 32px;
}

.functions-item .button {
  display: flex;
  width: 160px;
  height: 50px;
  justify-content: center;
  margin-bottom: 80px;
}

.button p {
  align-self: center;
}

.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 49px;
}

.features-item:first-child {
  width: 660px;
  padding-top: 34px;
}

.features-item:last-child {
  width: 360px;
}

.features-item:first-child .features-big {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.features-item:first-child .features-normal {
  margin-bottom: 39px;
}

.features-item:last-child img {
  margin-bottom: 13px;
}

.features-item h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-item:first-child h3 {
  margin-bottom: 24px;
  
  text-align: left;
}

.features-item:last-child h3 {
  text-align: center;
  margin-bottom: 13px;
}

.features-works {
  margin: 0;
  padding: 0;
  margin-left: 36px;
  list-style: none;
}

.features-works li {
  margin-bottom: 24px;
}

.features-present {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-present li {
  margin-right: 21px;
}

.features-present p:nth-child(1) {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  margin-bottom: 37px;
}

.features-present p:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
}

.features-present span {
  font-size: smaller;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  min-height: 182px;
  margin-bottom: 80px;
  padding-top: 7px;
}

.partners-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
}

.partners-item:nth-child(4n) {
  margin-right: 0;
}

.main-footer {
  display: flex;
  flex-direction: column;
}

.footer-map {
  position: relative;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  height: 416px;
  width: 1440px;
  margin: 0 auto;
}

.footer-map img {
  position: absolute;
  left: 819px;
  bottom: 137px;
}

.footer-map .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

.footer-contacts {
  display: flex;
  background-color: #ffffff;
  width: 319px;
  height: 308px;
}

.footer-contacts-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  padding-top: 49px;
}

.footer-contacts-container h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
}

.footer-contacts-container p {
  margin-top: 0;
  margin-bottom: 18px;
}

.footer-contacts-container .button {
  display: flex;
  width: 220px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
}

.footer-social {
  display: flex;
  min-height: 217px;
}

.footer-social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 259px;
  margin: 0;
  padding: 0;
  margin-right: 140px;
}

.footer-social-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 560px;
}

.footer-social-slogan span:first-child {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-social-slogan span:last-child {
  font-size: 16px;
  line-height: 22px;
}

.modal-write-us {
  display: none;
  position: fixed;
  width: 960px;
  height: 590px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 15px 30px #646565;
  background-color: #ffffff;
  
  font-size: 16px;
  line-height: 18px;
}

.modal-write-us a {
  position: absolute;
  top: 78px;
  right: 90px;
  opacity: 0.3;
}

.modal-write-us a:hover {
  opacity: 1;
}

.modal-write-us a:active {
  opacity: 0.1;
}

.modal-write-us-container {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: 0 auto;
  padding-top: 67px;
}

.modal-write-us-container .message {
  width: 760px;
  height: 145px;
  margin-bottom: 47px;
}

.modal-write-us-container textarea {
  width: inherit;
  height: 118px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 12px;
}

.modal-write-us-container h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 41px;
}

.modal-write-us-container span {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-write-us-form {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.modal-write-us-form .button {
  display: flex;
  width: 260px;
  height: 50px;
  justify-content: center;
  margin-bottom: 0px;
}

.modal-write-us-form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  width: inherit;
}

.modal-write-us-small-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.modal-write-us-small-container .fullname,
.modal-write-us-small-container .email {
  width: 360px;
  height: 77px;
}

.modal-write-us-small-container label {
  font: inherit;
  width: inherit;
}

.modal-write-us-small-container input {
  font: inherit;
  width: inherit;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0 12px;
}

.page-intro {
  min-height: 241px;
  background-color: #eeeeee;
  margin: 0;
}

.page-intro .container {
  display: flex;
  justify-content: center;
}

.page-intro h1 {
  margin-bottom: 0;
  margin-top: 78px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filters ul {
  list-style: none;
}

.filters button {
  display: flex;
  width: 260px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  border-radius: 3px;
  background-color: #eeeeee;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.filter-one {
  padding-top: 58px;
}

.filter-one legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-price {
  margin: 0;
  padding: 0;
  
  border: none;
}

.filter-price legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-price-range {
  width: 260px;
  margin-top: 51px;
}

.filter-price-range-controls {
  position: relative;
  
  height: 80px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #eeeeee;
  
  border-radius: 5px;
}

.filter-price-range-controls .filter-price-scale {
  height: 2px;

  background: #d7dcde;
}

.filter-price-range-controls .filter-price-bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.filter-price-range-controls .filter-price-toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 1px;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.filter-price-range-controls .filter-price-toggle-min {
  left: 20px;
}

.filter-price-range-controls .filter-price-toggle-max {
  left: 162px;
}

.filter-price-price-controls {
  font-size: 0;
}

.filter-price-price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.filter-price-price-controls input {
  width: 80px;
  padding: 10px 10px;
  margin-left: 8px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #eeeeee;
}

.filter-price-max-price {
  text-align: right;
}

.filter-grid-container {
  margin-top: 54px;
}

.filter-options-container {
  margin-top: 45px;
}

.filter-grid,
.filter-options {
  font-size: 16px;
  line-height: 20px;
}

.filter-grid-list,
.filter-options-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-grid legend {
  
}

.sorting {
  display: flex;
  justify-content: space-between;
  min-height: 133px;
  align-items: center;
}

.sorting-header {
  width: 360px;
}

.sorting-body {
  display: flex;
  width: 360px;
  justify-content: space-between;
}

.sorting-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 271px;
  justify-content: space-between;
}

.sorting-buttons {
  display: flex;
  justify-content: space-between;
  width: 41px;
  padding-top: 5px;
  padding-right: 1px;
}

.sorting-header h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
  opacity: 0.3;
}

.sorting a:hover {
  opacity: 0.6;
}

.sorting a:active {
  opacity: 1;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 360px;
  height: 616px;
}

.catalog-item-image::before {
  display: block;
  content: " ";
  height: 40px;
  width: 360px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: url("../img/browser.svg");
  background-color: #ffffff;
  opacity: 0.091;
}

.catalog-item-image:hover::before {
  opacity: 1;
}

.catalog-item-popup {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  min-height: 230px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
}

.catalog-item:hover .catalog-item-popup {
  display: flex;
}

.catalog-item-popup-container {
  flex-direction: column;
  width: 240px;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}

.catalog-item-popup h3 {
  margin: 0;
  margin-bottom: 15px;
  
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item-popup h3:hover {
  color: #fb565a;
}

.catalog-item-popup h3:active {
  color: #000000;
}

.catalog-item-popup p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 18px;
}

.catalog-item-popup .button {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 41px;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.pagination-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.pagination-item {
  border: 3px solid #eeeeee;
  margin-right: 11px;
  border-radius: 3px;
  background-color: #eeeeee;
}

.pagination-item:last-child a {
  width: 254px;
}

.pagination-item:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}

.pagination-item-current {
  background-color: #ffffff;
  border-color: #dbdbdb;
}

/*body > * {
  background-color: rgba(255, 0, 0, 0.3);
}
*/
/*body > * > * {
  background-color: rgba(255, 255, 0, 0.3);
}*/

/*body > * > * > * {
  background-color: rgba(255, 0, 255, 0.3);
}*/

  /*background-color: transparent;
  box-shadow: inset 0 0 0 2px purple;*/

  /*background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;*/

